.viewport_transparent,
.viewport_transparent > .viewport {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}
.bg_teal700 {
    -fx-background-color: #01878680;
}
.bg_transparent {
    -fx-background-color: #39c5bb00;
}
.viewport_transparent > .viewport {
    -fx-background-color: transparent; /* Makes the Viewport background transparent */
}

.fx-fit-screen {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}